.App {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f4f5f7;
}

/* Container geral */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

#dpm-annotation {
  padding-bottom: 20px;
  text-align: center;
}

#text-pagamento {
  text-align: center;
  font-weight: bold;
  color: #333;
  padding-bottom: 15px;
}

/* Formulário de pagamento */
#payment-form {
  width: 100%;
  max-width: 600px;
  align-self: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px;
  margin-top: auto;
  margin-bottom: 30px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
  border: 2px solid transparent;
  background-clip: padding-box;
  animation: fadeInForm 1s ease-out;
}

#payment-form:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  border: 2px solid rgba(0, 85, 222, 0.2);
}

/* Texto de status do pagamento */
#payment-message {
  color: #6A6F76;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 12px;
  text-align: center;
}

/* Estilo do campo de pagamento */
#payment-element {
  margin-bottom: 30px;
}

/* Botões e links */
.button {
  background: linear-gradient(135deg, #0055DE, #0044b3);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  border-radius: 8px;
  border: 0;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-transform: uppercase;
}

.button:hover {
  background: linear-gradient(135deg, #0044b3, #0055DE);
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 85, 222, 0.3);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:active {
  transform: translateY(1px);
}

/* Página de status do pagamento */
#payment-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  max-width: 600px;
  min-height: 380px;
  align-self: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 40px;
  background-color: #ffffff;
  animation: fadeInForm 1s ease-out;
  margin-top: auto;
  margin-bottom: auto;
}

/* Animação de suavização */
@keyframes fadeInForm {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media only screen and (max-width: 600px) {
  form, #payment-status {
    width: 80vw;
    min-width: initial;
  }
}
